@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('/images/bgClimbing3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;
  z-index: -1;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}