@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('/images/bgClimbing3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;
  z-index: -1;
}

.layout {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: space-around;
  padding: 2vh;
  background-color: #ffffffde;
  position: fixed;
  width: 100vw;
  position: fixed;
  top: 0;
}

.layout a {
  text-decoration: none !important;
  color: #000;
}


.layout a:hover {
  color: #8c8c8c;
}


.logo {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.logo h1,
.logo p {
  margin: 0;
}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  .logo {
    filter: invert();
  }
}